.header {
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.logo {
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    background-position: center;
    justify-content: center;
    flex-grow: 1;
}

.logo:hover {
    text-decoration: none;
}

.header nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}

.header nav li {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}

.logo p {
    margin: 0;
    font-size: 20px;
    color: cadetblue;
    font-weight: bold;
}

nav a,
nav a:hover {
    margin: 0 10px;
    padding: 5px;
    background-color: #bcd7d8;
    border: 1px solid cadetblue;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #548c8d;
    display: block;
    transition: all 0.2s;
}

nav a:hover {
    background-color: cadetblue;
    color: #fff;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        justify-content: unset;
        flex-direction: column;
        height: auto;
    }
    svg {
        display: none;
    }
    .logo {
        height: 100px;
    }

    .header nav {
        margin-top: 10px;
    }

    .header nav ul {
        width: 100%;
        justify-content: space-evenly;
    }

    div.carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 0px;
        left: 15%;
        z-index: 10;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
        text-align: center;
    }

    .carousel-caption h3 {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .container-home {
        flex-direction: column;
    }
    div.carousel-slider {
        width: unset;
    }
    div.subcontainer-right {
        width: unset;
        margin-top: 30px;
    }
    .header nav ul {
        flex-direction: column;
    }
    .header nav li {
        margin: 10px 0;
    }
}
